@media screen and (max-width: 1300px) {
    .mission-page-main-area {
        padding: 0;
    }
    .gift-exchange-box .coin-collect-area .day-list-item .content-area img {
        width: 34px;
      }
      .gift-exchange-box .coin-collect-area .day-list-item .content-area h2{
        font-size: 17px;
      }
}

@media screen and (max-width: 1200px) {
    .event-main-area {
        padding: 0 0;
    }

    .gift-exchange-box .profile-details-area {
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }

    .gift-exchange-box .profile-details-area .item:nth-child(3) {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        width: 100%;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item {
        width: 120px;
    }

    .src__content {
        padding: 40px 40px;
    }
    .gift-exchange-box .coin-collect-area{
        justify-content: center !important;
        column-gap: 5px;
    }
    .gift-exchange-box .coin-collect-area .day-list-item{
        width: 19%;
    }
    .gift-exchange-box .profile-details-area .item:nth-child(1){
        width: 100%;
        flex-shrink: 1;
       text-align: center;
    }
    .gift-exchange-box .profile-details-area .item:nth-child(3){
        width: 100%;
        flex-shrink: 1;
       
    }
    .gift-exchange-box .profile-details-area .item:nth-child(2){
        width: 100%;
        flex-shrink: 1;
        text-align: center;
    }
    .gift-exchange-box .profile-details-area .item:nth-child(2) .top{
        justify-content: center;
    }
    .gift-exchange-box .profile-details-area .item:nth-child(2) .middle{
        justify-content: center;
    }
    .news-pages-area{
        width: 100%;
    }
    .mainnews-thumble-area .news-content-link-area a{
        flex-direction: column;
        row-gap: 20px;
    
    }
    .mainnews-thumble-area .news-content-link-area a .left{
        width: 100%;
    
    }
    .mainnews-thumble-area .news-content-link-area a .right{
        width: 100%;
    
    }
}

@media screen and (max-width: 1080px) {
    .event-hero-area .event-conter-area {
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item {
        width: 100px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item p {
        font-size: 15px;
        line-height: 22px;
    }
    .gift-exchange-box .coin-collect-area{
        justify-content: center !important;
        column-gap: 5px;
    }
    .gift-exchange-box .coin-collect-area .day-list-item{
        width: 32%;
    }
    .news-page-main-area .news-heading-line {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .news-page-main-area .news-heading-line .news-heading-line-item {
        width: 48%;
      }
}

@media screen and (max-width: 991px) {
    .event-hero-area {
        padding: 20px 20px;
    }

    .event-hero-area .inner h1 {
        font-size: 18px;
        line-height: 28px;
    }

    .gift-exchange-box .profile-details-area .item:nth-child(2) .top {
        margin: 20px 0;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
       
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd {
        width: 40px;
        height: 40px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd img {
        width: 15px;

    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item {
        width: 81px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item p {
        font-size: 13px;
        line-height: 18px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item h1 {
        font-size: 15px;
    }
    .gift-exchange-box .coin-collect-area .day-list-item{
        width: 48%;
    }
}

@media screen and (max-width: 767px) {
    .event-hero-area {
        padding: 40px 40px;
    }

    .event-hero-area .inner h1 {
        font-size: 21px;
        line-height: 32px;
    }

    .event-hero-area .event-conter-area {
        flex-direction: row;
        row-gap: 20px;
        justify-content: space-between;
    }

    .gift-exchange-box .profile-details-area .item:nth-child(2) .top {
        margin: 20px 0;
        flex-direction: row;
        row-gap: 10px;
        align-items: center !important;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd {
        width: 56px;
        height: 56px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd img {
        width: 20px;

    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item {
        width: 130px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item p {
        font-size: 15px;
        line-height: 18px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item h1 {
        font-size: 16px;
    }

    .get-awerd-popup .get-awerd-popup-main-area {
        width: 170px;
    }

    .get-awerd-popup .get-awerd-popup-main-area .inner {
        padding: 40px 10px;
    }
    .gift-exchange-box .coin-collect-area .day-list-item{
        width: 19%;
    }
    

}

@media screen and (max-width: 576px) {
    .event-hero-area {
        padding: 30px 30px;
    }

    .event-hero-area .inner h1 {
        font-size: 18px;
        line-height: 28px;
    }

    .get-awerd-popup .get-awerd-popup-main-area {
        width: 152px;
    }
    .gift-exchange-box .coin-collect-area .day-list-item{
        width: 24%;
    }
    .news-page-main-area .news-heading-line .news-heading-line-item {
        width: 100%;
      }
}

@media screen and (max-width: 540px) {
    .event-hero-area {
        padding: 20px 20px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item {
        width: 110px;
    }

    .get-awerd-popup .get-awerd-popup-main-area {
        width: 133px;
    }

    .get-awerd-popup .get-awerd-popup-main-area .inner button {
        padding: 10px 8px;

    }

    .get-awerd-popup .get-awerd-popup-main-area .inner h3 {
        margin-right: 0;
    }
    .gift-exchange-box .coin-collect-area .day-list-item{
        width: 32%;
    }

}

@media screen and (max-width: 481px) {
    .event-hero-area {
        padding: 15px 15px;
    }

    .event-hero-area .event-conter-area {
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd {
        width: 40px;
        height: 40px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd img {
        width: 15px;

    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item {
        width: 100px;
    }

    .get-awerd-popup .get-awerd-popup-main-area {
        width: 129px;
    }
    .gift-exchange-box .profile-details-area .item:nth-child(2) .top {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 440px) {
    .event-hero-area {
        padding: 15px 10px;
    }

    .gift-exchange-box .profile-details-area .item:nth-child(2) .top {
        margin: 20px 0;
        flex-direction: column;
        row-gap: 10px;
        
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item {
        width: 81px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item p {
        font-size: 13px;
        line-height: 18px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item h1 {
        font-size: 15px;
    }

    .get-awerd-popup .get-awerd-popup-main-area {
        width: 116px;
    }

    .get-awerd-popup .get-awerd-popup-main-area .inner button {
        font-size: 13px;
    }

    .get-awerd-popup .get-awerd-popup-main-area .inner h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .get-awerd-popup .get-awerd-popup-main-area .inner {
        padding: 19px 10px;
    }

    .duty-countdown-area .begin-item .right {
        column-gap: 20px;
        row-gap: 20px;
        min-width: 62px;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }

    .progress-line-area h1 {
        font-size: 15px;
    }

    .progress-line-area h1 img {
        width: 10px;
    }
}

@media screen and (max-width: 378px) {
    .event-hero-area {
        padding: 15px 10px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item {
        width: 70px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item p {
        font-size: 12px;
        line-height: 17px;
    }

    .progress-line-area .progress-line .progress-awerd-item-list .progress-awerd .star-quantity-box .item h1 {
        font-size: 14px;
    }

    .get-awerd-popup .get-awerd-popup-main-area {
        width: 110px;
    }

    .get-awerd-popup .get-awerd-popup-main-area .inner button {
        font-size: 12px;
    }

    .get-awerd-popup .get-awerd-popup-main-area .inner h3 {
        font-size: 13px;

    }
    .gift-exchange-box .coin-collect-area .day-list-item{
        width: 48%;
    }
}