html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
button{
    border: none;
}
.active{
    color: #3D92D1 !important;
}
/* event page start */
.event-main-area {
    font-family: "Mulish", sans-serif;
    padding: 0 50px;
}

.event-header {
    margin-bottom: 11px;
}

.event-header h1 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #505050;
}

.event-header button {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #ffffff;
    background: #4ABC96;
    border-radius: 30px;
    padding: 8px 25px;
    border: none;
}

.event-hero-area {
    background: url(../img/Sựkiện/event-hero-bg.png) no-repeat 0 0 / 100% 100%;
    padding: 35px 40px;
}

.event-hero-area .inner {
    padding: 14px;
    background: #F4F5F8;
    border-radius: 10px;

}

.event-hero-area .inner .hero-banner-img {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 240px;
    width: 100%;
}

.event-hero-area .inner .hero-banner-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
}

.event-hero-area .inner .participant-area {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 14px;
}

.event-hero-area .inner .participant-area .item {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;
}

.event-hero-area .inner .participant-area .item .images {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    overflow: hidden;
}

.event-hero-area .inner .participant-area .item span {
    font-size: 18px;
    font-weight: 900;
    text-transform: capitalize;
    color: #5b5b5b;
}

.event-hero-area .inner h1 {
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    margin: 30px 0 20px 0;
    color: #424242;
    line-height: 25px;
}

.event-hero-area .inner p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #424242;
    line-height: 21px;
}

.event-hero-area .event-conter-area {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-hero-area .event-conter-area button {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 15px 40px;
    border-radius: 30px;
    border: 3px solid #ffffff;
    box-shadow: 3px 6px 11px rgba(0, 0, 0, 0.7);
    background: linear-gradient(to right top, #73ADF3 1%, #FF9A9B 26%, #FF50B7 64%);

}

.event-hero-area .event-conter-area .event-remaining-counter {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
}

.event-hero-area .event-conter-area .event-remaining-counter .counter-item {
    display: flex;
    justify-content: center;
    row-gap: 7px;
    flex-direction: column;
    align-items: center;
}

.event-hero-area .event-conter-area .event-remaining-counter .counter-item .count-number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    box-shadow: 0 0 2px #818181;
    color: #5b5b5b;
    font-weight: 900;
    border-radius: 8px;
    text-align: center;
    font-size: 26px;

}

.event-hero-area .event-conter-area .event-remaining-counter .counter-item .count-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5b5b5b;
    font-weight: 500;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;

}

.eventdata-table h1 {
    font-size: 40px;
    font-weight: 700;
    color: #0487D9;
    font-family: 'dongle';
    text-align: center;
    margin-top: 30px;
    line-height: 22px;
}

.eventdata-table p {
    font-size: 32px;
    font-weight: 700;
    color: #515151;
    font-family: 'dongle';
    text-align: center;
    margin-bottom: 40px;
}

.table-container {
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 540px;
    overflow-x: scroll;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 0.5px solid #D1D1D1;
    border-left: none;
    border-right: none;
    vertical-align: middle;
}

td {
    font-size: 18px;
    font-weight: 900;
    color: #484848;
}

td ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 22px;
}

td ul li {
    display: inline-block;
}

td ul li span {
    color: #00D115;
    font-size: 14px;
    font-weight: 900;
    margin-right: 4px;
}

td ul .country-flag {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

th {
    height: 75px;
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 2;
    font-size: 18px;
    color: #484848;
    font-weight: 400;
}

tr {
    height: 75px;
}

tr th:first-child {
    z-index: 3;
}

td:first-child,
th:first-child {
    position: sticky;
    left: 0;
    background: #ffffff;
    z-index: 1;
}

th:last-child {
    text-align: end;
    padding-right: 74px;
}

td:last-child {
    text-align: end !important;
    padding-right: 20px;
}

td:last-child ul {
    justify-content: flex-end;
}

tr:last-child td {
    border-bottom: none;
}

/* Custom scrollbar */
.table-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background: #888;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
.table-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* For IE and Edge */
.table-container {
    -ms-overflow-style: none;
    /* IE 10+ */
}

.table-container::-ms-scrollbar {
    width: 6px;
    height: 6px;
    background: #f1f1f1;
}

.table-container::-ms-thumb {
    background: #888;
}

.table-container::-ms-thumb:hover {
    background: #555;
}


/* -------------- */
/* event page end*/
/* --------------- */


/* ------------------------------------------------------------------------- */

/* mission page start */
.mission-page-main-area{
    font-family: "Mulish", sans-serif;
    padding: 0 50px;
}
.mission-page-main-area h1{
    font-size: 12px;
    font-weight: 400;
    color: #505050;
}
.mission-page-main-area .balance-bar{
    margin: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.mission-page-main-area .balance-bar .balance-item ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;

}
.mission-page-main-area .balance-bar .balance-item ul li{
    display: inline-block;
}
.mission-page-main-area .balance-bar .balance-item ul li:nth-child(1){
    height: 25px;
    width: 25px;

}
.mission-page-main-area .balance-bar .balance-item ul li:nth-child(2){
    font-size: 14px;
    font-weight: 900;
    color: #626262;
}
.mission-page-main-area .balance-bar .balance-item ul li:nth-child(3){
    font-size: 14px;
    font-weight: 400;
    color: #626262;
}
.gift-exchange-box{
    background: #FEFCEF;
    border-radius: 10px;
    padding: 18px;
}

.gift-exchange-box .profile-details-area .item:nth-child(1) img{
    width: 106px;
    height: 106px;
}

.gift-exchange-box .profile-details-area .item:nth-child(2) .top{
    column-gap: 10px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .top .title h1{
    font-size: 20px;
    color: #666666;
    font-weight: 700;
    margin-right: 10px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .top .title span{
    height: 28px;
    width: 28px;
    display: block;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .top .id-copy-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 56px;
    min-width: 205px;
    padding: 7px 15px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .top .id-copy-box p{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .top .id-copy-box button{
    background: none;
    padding: 0;
    margin: 0;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .top .id-copy-box button  img{
    width: 40px;
    margin-bottom: -10px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .middle{
    column-gap: 10px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .middle img{
    width: 24px;
    height: 24px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .middle h1{
    color: #FCAA17;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .bottom span:nth-child(1){
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-right: 10px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) .bottom span:nth-child(2){
    font-size: 12px;
    font-weight: 400;
    color: #0487D9;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) button{
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    background: #4ABC96;
    padding: 7px 15px ;
    border-radius: 56px;
    transition: .4s ease;
  margin-top: 20px;
}
.gift-exchange-box .profile-details-area .item:nth-child(2) button:hover{
    background: #04724d;
}

.gift-exchange-box .profile-details-area .item:nth-child(3) button{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background: #F26F21;
    padding: 10px 20px;
    transition: .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.gift-exchange-box .profile-details-area .item:nth-child(3) button:hover{
    background: #a13d02;
}
.gift-exchange-box .profile-details-area .item:nth-child(3) button img{
    width: 18px;
    margin-right: 10px;
}









/* mission page end */